project:
  type: website

website:
  title: "ASAM135 Project"
  navbar:
    left:
      - text: "Home"
        href: index.qmd
      - text: "About"
        href: about.qmd

format:
  html:
    theme: journal
    toc: true
